In [1]:
import pandas as pd
import sys
sys.path.append('../src')

from cellopype import Cell

In [6]:
# example from https://stackoverflow.com/questions/62671185
dfA = pd.DataFrame([1, 2, 3], columns=["value"])
dfB = pd.DataFrame([10, 20, 30], columns=["value"])

cell_a = Cell(recalc=lambda: dfA)
cell_b = Cell(recalc=lambda: dfB)

# define cell_c as the sum of a and b
def plus(a, b):
    return a+b
    # return pd.DataFrame(a + b)
cell_c = Cell(recalc=plus, sources=[cell_a, cell_b])

In [7]:
# cell_a and cell_c havebeen initialized; they are '_dirty', but have no value yet
print('cell_a:', cell_a._dirty, cell_a._value)
print('cell_c:', cell_c._dirty, cell_c._value)

cell_a: True None
cell_c: True None

In [8]:
# c.value getter triggers recalc c -> triggers recalc of a & b")
cell_c.value

   value
0     11
1     22
2     33

In [5]:
# cell_a now has value
cell_a._value

   value
0      1
1      2
2      3

In [6]:
# Change source value in dfA and invalidate cell_a
dfA.loc[0, "value"] = 222
cell_a.value = dfA   # or: cell_a.recalc()

In [7]:
cell_a._dirty

False

In [27]:
# Getting cell_c.value will trigger recalc across the pipeline:
cell_c.value

   value
0    232
1     22
2     33

In [28]:
la = {'aap': 1 }
lb = { 'noot': 3, 'mies': 5}
cell_a = Cell(recalc=lambda: la)
cell_b = Cell(recalc=lambda: lb)
def recalc_fnl(a, b):
    res = 0
    for d in [a,b]:
        for k,v in d.items():
            res += v
    return res
cell_c = Cell(recalc=recalc_fnl, sources=[cell_a,cell_b])

In [29]:
cell_a._value

In [30]:
cell_a.value

{'aap': 1}

In [19]:
cell_c.value

9