In [3]:
import pandas as pd
from cellopype import Cell

In [4]:
## minimal example
l1 = [1,2,3]
l2 = [4,5,6]
cell_1 = Cell(recalc=lambda: l1.copy())
cell_2 = Cell(recalc=lambda: l2.copy())
cell_3 = Cell(recalc=lambda a,b: a+b, sources=[cell_1,cell_2])

print(cell_1._value)  # nothing yet
print(cell_3.value)   # this triggers recalc

l1.append(99)
cell_1.recalc()
print(cell_3.value)

None
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 99, 4, 5, 6]

In [ ]:
## An example with three dataframes

In [10]:
# example from https://stackoverflow.com/questions/62671185
dfA = pd.DataFrame([1, 2, 3], columns=["value"])
dfB = pd.DataFrame([10, 20, 30], columns=["value"])

cell_a = Cell(recalc=lambda: dfA)
cell_b = Cell(recalc=lambda: dfB)

# define cell_c as the sum of a and b
def recalc_fn(a, b):
    return a.add(b)
    # return pd.DataFrame(a + b)
cell_c = Cell(recalc=recalc_fn, sources=[cell_a, cell_b])

In [11]:
# cell_a and cell_c havebeen initialized; they are '_dirty', but have no value yet
print('cell_a:', cell_a._dirty, cell_a._value)
print('cell_c:', cell_c._dirty, cell_c._value)

cell_a: True None
cell_c: True None

In [12]:
# c.value getter triggers recalc c -> triggers recalc of a & b")
cell_c.value

   value
0     11
1     22
2     33

In [13]:
# cell_a now has value
cell_a._value

   value
0      1
1      2
2      3

In [14]:
# Change source value in dfA and invalidate cell_a
dfA.loc[0, "value"] = 222
cell_a.invalidate()  # or cell_a.recalc(), or cell_a.value=dfA

In [15]:
cell_a._value

   value
0    222
1      2
2      3

In [16]:
# Getting cell_c.value will trigger recalc across the pipeline:
cell_c.value

   value
0    232
1     22
2     33

In [17]:
pd

In [19]:
import sys
'pandas' in sys.modules

False